build

.keys

# ternjs
.tern-port

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
coverage.json
coverageEnv

# Dependency directories
node_modules/
packages/*/node_modules
jspm_packages/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
